* {
  margin: 0;
  padding: 0;
}
body {
  width: 100vw;
  height: 100vh;
  background: url('../image/56946553cc0ea.jpg') no-repeat center center;
  background-size: 100% 100%;
}
div#app {
  width: 480px;
  height: 450px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 38px;
}
div#app p.title {
  font-size: 40px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}
div#app input.user {
  width: 60%;
  height: 40px;
  font-size: 20px;
  border: none;
  outline-style: none;
  margin-left: 20%;
  margin-top: 20px;
  text-indent: 1em;
}
div#app input.pwd {
  width: 60%;
  height: 40px;
  font-size: 20px;
  border: none;
  outline-style: none;
  margin-left: 20%;
  margin-top: 30px;
  text-indent: 1em;
}
div#app div.app_yzm {
  width: 62%;
  height: 40px;
  margin-left: 20%;
  margin-top: 30px;
  display: flex;
}
div#app div.app_yzm input.yzm {
  width: 65%;
  border: none;
  outline-style: none;
  height: 40px;
  font-size: 20px;
  text-indent: 1em;
}
div#app div.app_yzm canvas#canvas {
  width: 30%;
  height: 40px;
  display: inline-block;
  border: 1px solid #c9c9c9;
  border-radius: 5px;
  background-color: #ccc;
  margin-left: 3%;
}
div#app button.logo {
  width: 60%;
  height: 40px;
  font-size: 20px;
  border: none;
  outline-style: none;
  margin-left: 20%;
  margin-top: 38px;
  background-color: #337BB7;
  color: #fff;
  cursor: pointer;
  border-radius: 6px;
}
