* {
  margin: 0;
  padding: 0;
}
.el-row {
  margin-bottom: 20px;
}
.el-row:last-child {
  margin-bottom: 0;
}
.el-col {
  border-radius: 4px;
}
.bg-purple-dark {
  background: #99a9bf;
}
.bg-purple {
  background: #d3dce6;
}
.bg-purple-light {
  background: #e5e9f2;
}
.grid-content {
  border-radius: 4px;
  min-height: 36px;
}
.row-bg {
  padding: 10px 0;
  background-color: #f9fafc;
}
.color {
  color: #5D7F9F;
}
.zt {
  background-color: #DCEAD7;
}
.searchbook {
  outline-style: none;
  height: 28px;
  font-size: 14px;
  text-indent: 1em;
}
div#yhxx_box {
  overflow: hidden;
}
div#yhxx_box div.yhxx_top {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
div#yhxx_box div.yhxx_top p {
  margin-top: 8px;
}
div#yhxx_box div.yhxx_top .yyje_color {
  color: red;
}
div#yhxx_box div.yhxx_bottom {
  margin-top: 50px;
}
